body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, td, input, select, option, textarea {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-width: 509px;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.slideshowBox {
  width: 100%;
  margin-top: 20px;
  background: white;
  height: 400px;
  box-shadow: 0 0 3px 2px #dddddd;
  position: relative;
}
.slideshowBox #slideBox {
  width: 100%;
  height: 400px;
}
.slideshowBox #slideBg {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 999999;
}
.slideshowBox #slideBg #spring-text {
  width: 100%;
  height: 100%;
}

.pagePulic {
  width: 100%;
  height: 50px;
}
.pagePulic h3 {
  color: #5e5e5e;
  line-height: 30px;
  font-size: 20px;
}
.pagePulic p {
  color: #9d9d9d;
}

#pageEmp1 {
  margin-top: 29px;
  width: 100%;
  height: 500px;
}
#pageEmp1 .pageEmpOneLeftBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  margin-right: 2%;
  box-shadow: 0 0 3px 2px #dddddd;
}
#pageEmp1 .pageEmpOneLeftBox #pageEmpOneLeft {
  width: 100%;
  height: 100%;
}
#pageEmp1 .pageEmpOneRightBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  box-shadow: 0 0 3px 2px #dddddd;
}
#pageEmp1 .pageEmpOneRightBox #pageEmpOneRight {
  width: 100%;
  height: 440px;
}

.pageEmp2 {
  margin-top: 29px;
  width: 100%;
  height: 500px;
}
.pageEmp2 .pageEmpTwoLeftBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  margin-right: 2%;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp2 .pageEmpTwoLeftBox #pageEmpTwoLeft {
  width: 100%;
  height: 100%;
}
.pageEmp2 .pageEmpTwoRightBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp2 .pageEmpTwoRightBox #pageEmpTwoRight {
  width: 100%;
  height: 440px;
}

.pageEmp3 {
  margin-top: 29px;
  width: 100%;
  height: 500px;
}
.pageEmp3 .pageEmpThreeLeftBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  margin-right: 2%;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp3 .pageEmpThreeLeftBox #pageEmpThreeLeft {
  width: 100%;
  height: 100%;
}
.pageEmp3 .pageEmpThreeRightBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp3 .pageEmpThreeRightBox #pageEmpThreeRight {
  width: 100%;
  height: 440px;
}

.pageEmp4 {
  margin-top: 29px;
  width: 100%;
  height: 500px;
}
.pageEmp4 .pageEmpFourLeftBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  margin-right: 2%;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp4 .pageEmpFourLeftBox #pageEmpFourLeft {
  width: 100%;
  height: 100%;
}
.pageEmp4 .pageEmpFourRightBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp4 .pageEmpFourRightBox #pageEmpFourRight {
  width: 100%;
  height: 440px;
}

.pageEmp5 {
  margin-top: 29px;
  width: 100%;
  height: 500px;
}
.pageEmp5 .pageEmpFiveLeftBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  margin-right: 2%;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp5 .pageEmpFiveLeftBox #pageEmpFiveLeft {
  width: 100%;
  height: 100%;
}
.pageEmp5 .pageEmpFiveRightBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp5 .pageEmpFiveRightBox #pageEmpFiveRight {
  width: 100%;
  height: 440px;
}

.pageEmp6 {
  margin-top: 29px;
  width: 100%;
  height: 500px;
}
.pageEmp6 .pageEmpSexLeftBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  margin-right: 2%;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp6 .pageEmpSexLeftBox #pageEmpSexLeft {
  width: 100%;
  height: 100%;
}
.pageEmp6 .pageEmpSexRightBox {
  width: 49%;
  height: 100%;
  padding: 0 20px;
  background: white;
  float: left;
  box-shadow: 0 0 3px 2px #dddddd;
}
.pageEmp6 .pageEmpSexRightBox #pageEmpSexRight {
  width: 100%;
  height: 440px;
}

@media screen and (max-width: 768px) {
  .pageEmpOneLeftBox {
    width: 100% !important;
    margin-top: 20px;
  }

  .pageEmpOneRightBox {
    width: 100% !important;
    margin-top: 30px;
  }

  .pageEmpTwoLeftBox {
    width: 100% !important;
    margin-top: 20px;
  }

  .pageEmpTwoRightBox {
    width: 100% !important;
    margin-top: 30px;
  }

  .pageEmpThreeLeftBox {
    width: 100% !important;
    margin-top: 20px;
  }

  .pageEmpThreeRightBox {
    width: 100% !important;
    margin-top: 30px;
  }

  .pageEmpFourLeftBox {
    width: 100% !important;
    margin-top: 20px;
  }

  .pageEmpFourRightBox {
    width: 100% !important;
    margin-top: 30px;
  }

  .pageEmpFiveLeftBox {
    width: 100% !important;
    margin-top: 20px;
  }

  .pageEmpFiveRightBox {
    width: 100% !important;
    margin-top: 30px;
  }

  .pageEmpSexLeftBox {
    width: 100% !important;
    margin-top: 20px;
  }

  .pageEmpSexRightBox {
    width: 100% !important;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=empty.css.map */
